# Virtual environments
venv/
.env
.env.* 

# Byte-compiled / caches
__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log

# Local DB / data
db.sqlite3
/uploads/

.venv/
app/services/models/
credentials.json
debug_last.wav
str